body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}


#headerGroup h1 {
    color: white;
    font-weight: 100;
    font-size: 4rem;
}

#headerGroup span {
    color: #EA1C2C;
}

#content h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
 }
 
 #content p {
     color: #f498b8;
     font-weight: 100;
     font-size: 1.125rem;
     line-height: 2;
 }

#contentS {
    margin-top: 100px;
    margin-bottom: 100px;
}

#contentS h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}
 
#contentS p {
     color: #f498b8;
     font-weight: 100;
     font-size: 1.125rem;
     line-height: 2;
 }

@media (max-width: 12000px){
    #headerGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }

#contentS h2 {
    font-size: 2rem;
    }
}
